{% extends 'base.html.twig' %}

{% block body %}

{% block main %}
    <h1>{{ 'questionnaire.edit_questionnaire'|trans({'%id%': questionnaire.getId}) }}</h1>

    {{ include('Questionnaire/_form.html.twig', {
        form: edit_form,
        button_label: 'action.save'|trans,
    }, with_context = false) }}
{% endblock %}

{% block sidebar %}
    <div class="section actions">
        {{ include('Questionnaire/_form.html.twig', {
            form: delete_form,
            button_label: 'action.delete_questionnaire'|trans,
            button_css: 'btn btn-lg btn-block btn-danger',
            include_back_to_home_link: false
        }, with_context = false) }}
    </div>

    {{ parent() }}

{% endblock %}
{% endblock %}
