{% extends 'base.html.twig' %}

{% block body %}

{% block main %}
    <h1>{{ 'questionnaire.questionnaire_post_new'|trans }}</h1>

    {{ include('Questionnaire/_form.html.twig') }}
{% endblock %}

{% block sidebar %}
    {{ parent() }}

{% endblock %}
{% endblock %}
