{% extends 'base.html.twig' %}
{% block body %}
<h1 class="page-header">Graphs</h3>
<p>Which statistics would you like to see?</p>
{% for questionnaire in questionnaires %}
    <a href="{{path('graph_show', { id: questionnaire.id })}}">Questionnaire {{questionnaire.id}}</a>
{% endfor %}
<h2><a href="{{path('demos')}}">Demos</a></h2>
{% endblock %}
