{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="page-header">Dashboard</h1>
    <div class="row placeholders">
      <div class="col-xs-6 col-sm-3 placeholder">
        <h4>20 Answers</h4>
        <span class="text-muted">20 questions answered, you da man</span>
      </div>
      <div class="col-xs-6 col-sm-3 placeholder">

        <h4>4.5/5</h4>
        <span class="text-muted">You dont always taste the pepperoni in pizza</span>
      </div>
      <div class="col-xs-6 col-sm-3 placeholder">
        <h4>527 answers and growing</h4>
        <span class="text-muted">Productive feedback</span>
      </div>
      <div class="col-xs-6 col-sm-3 placeholder">
        <h4>4 new projects</h4>
        <span class="text-muted">This week answers/minute raised by 6</span>
      </div>
    </div>
    <h2 class="sub-header">Performance data - Select view</h2>
    <ul class="nav nav-pills">
     <li role="presentation" class="active"><a href="#">Answers to Questionnaires</a></li>
     <li role="presentation"><a href="#">Profile</a></li>
     <li role="presentation"><a href="#">Messages</a></li>
   </ul>
   <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Users</th>
          <th>Projects</th>
          <th>Teams</th>
          <th>Header</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1,001</td>
          <td>Lorem</td>
          <td>ipsum</td>
          <td>dolor</td>
          <td>sit</td>
        </tr>
        <tr>
          <td>1,002</td>
          <td>amet</td>
          <td>consectetur</td>
          <td>adipiscing</td>
          <td>elit</td>
        </tr>
        <tr>
          <td>1,003</td>
          <td>Integer</td>
          <td>nec</td>
          <td>odio</td>
          <td>Praesent</td>
        </tr>
        <tr>
          <td>1,003</td>
          <td>libero</td>
          <td>Sed</td>
          <td>cursus</td>
          <td>ante</td>
        </tr>
        <tr>
          <td>1,004</td>
          <td>dapibus</td>
          <td>diam</td>
          <td>Sed</td>
          <td>nisi</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/ie10-viewport-bug-workaround.js"></script>
{% endblock %}


