
{% extends 'base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
<h1 class="page-header">Welcome</h1>
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    
{% endblock body %}
