{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="page-header">My questionnaires</h1>
    {% if questionnaires is not empty %}
    <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>sprint #</th>
        </tr>
      </thead>
      <tbody>
        {% for questionnaire in questionnaires %}
        <tr>
          <td>{{ questionnaire.id }}</td>
          <td>{{ questionnaire.sprintRound }}</td>
          <td><a href="{{ path('answerform', { id: questionnaire.id }) }}" class="btn btn-success">Fill questionnaire</a></td>
        </tr>
       {% endfor %}
        
      </tbody>
    </table>
  </div>
  <a href="{{path('showanswers')}}" class="btn btn-success">Show answers</a>
  {% else %}
  <p>No questionnaires assigned for you</p>
  {% endif %}



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/ie10-viewport-bug-workaround.js"></script>
{% endblock %}


