{% extends 'base.html.twig' %}

{% block body %}

{% block main %}
    <h1>{{ 'answer.answer_post_new'|trans }}</h1>

    {{ include('Questionnaire/Answer/answer_form.html.twig') }}
{% endblock %}

{% block sidebar %}
    {{ parent() }}

{% endblock %}
{% endblock %}
