{% extends 'base.html.twig' %}

{% block body %}

{% block main %}
    <h1 class="page-header">{{ 'New Statement'|trans }}</h1>

    {{ include('Questionnaire/Statement/_form.html.twig') }}
{% endblock %}

{% block sidebar %}
    {{ parent() }}

{% endblock %}
{% endblock %}
