{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">

        <form class="form-signin" action="index.php" method="POST">
          <h2 class="form-signin-heading">Please sign in</h2>
          <label for="nickName" class="sr-only">Username</label>
          <input type="text" id="nickName" class="form-control" placeholder="Username" required autofocus>
          <label for="userPassword" class="sr-only">Password</label>
          <input type="password" id="userPassword" class="form-control" placeholder="Password" required>
          <input type="submit" class="btn btn-lg btn-primary btn-block" value="Sign in">
          <a href="signup.php" class="btn btn-info btn-block" role="button">Sign up</a>
        </form>
    </div> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
	  
{% endblock %}