{% extends 'base.html.twig' %}

{% block body %}
<h1 class="page-header">Dashboard</h1>

  <a class="btn btn-info" href="{{ path("project_new") }}">New Project</a>
  {% if projects is not empty %}
  <div class="table-responsive">

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Project Name</th>
          <th>Teams</th>

        </tr>
      </thead>
      <tbody>


          {% for project in projects %}
             <tr> <td>{{ project.project }}</td>
             <td>

             {% for team in project.teams if project.teams %}
                  {{team.teamName}}, 
              {% endfor %}
              </td></tr>
          {% endfor %}



     </tbody>
   </table>
 </div>
 {% else %}
     <p>No projects created yet. :c</p>
 {% endif %}




<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/ie10-viewport-bug-workaround.js"></script>
{% endblock %}
